
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
.my-body { 
    
    background-color: gray;

    font-family: 'lato';
}

my-title { 
    font-size: 4rem;
    
    font-weight: 900;
    
    color: white; 

}


my-paragraph {
    font-size: 1.25rem;
    font-weight: 400;
    color: orangered;
    background-color: #F24848; }

   
    my-strong { 
    text-shadow: 2px 2px 0 orangered;
}