@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

.my-body{
    background-color: #f3f3f3;
}

.my-container{

    border-color:#aaa;
    background-color: white;
    max-width: 600px;
    margin: 10px auto;
    padding: 1rem;
    text-shadow:5px 5px 5px #aaa;
    }

.my-highlight{
    color: orangered;
text-decoration: overline;
font-size: 4rem;
}

/*12. Reduce the width to: 20%*/
/*13. Set border as: 10px solid orangered*/
/*14. Shift to the left using margin-left*/

.my-hr{
    width: 20%;
    border: 10px solid orangered;
    margin-left: left;

}