
.my-body { 
    
    background-color: gray;

    font-family: 'lato';
}

    
    font-size: 4rem;
    
    font-weight: 900;
    
    color: white; 

    font-size: 1.25rem;
    font-weight: 400;
    color: orangered;
    background-color: white;

    font-size: 3rem;
    font-weight: 100;
    color: white;

    text-shadow: 2px 2px 0 orangered;

}